.c {
    position: absolute;
    width: 600px;
    height: 750px;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .back {
    background-color: white;
  }
  
  .front {
    background-color: white;
  }
  
  .c1 {
    width: 600px;
    height: 750px;
    cursor: pointer;
    will-change: transform, opacity;
  }